[user]
	name = jobs
	email = jobs@apple.com
[http]
    sslVerify = false
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    oneline = log --pretty=oneline --since='2 days ago'
    onlog = log -p -1
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[core]
    autocrlf = true #avoid showing ^M when git diff
